<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
  <div class="card border-primary mb-3">
    <div class="card-body">
      <h4 class="card-title">
        {{ editForm.controls['email'].value }}
      </h4>
      <div class="card-text">
        <div class="form-group">
          <label for="firstname">First Name</label>
          <input type="text" class="form-control" id="firstname" formControlName="firstname">
        </div>
        <div class="form-group">
          <label for="lastname">Last Name</label>
          <input type="text" class="form-control" id="lastname" formControlName="lastname">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="isActive" formControlName="isActive">
          <label class="form-check-label" for="isActive">Is Active</label>
        </div>
        <button type="submit" class="btn btn-outline-primary"
          [disabled]="editForm.invalid">Save</button>
      </div>
    </div>
  </div>
</form>